{% load static %}

<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#">
            <img class="card-img-top"
                 src="{% static image %}"
                 alt="">
        </a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">{{ name }}</a>
            </h4>
            <h5>{{ product.price|floatformat:2 }} руб.</h5>
            <p class="card-text">{{ description }}</p>
        </div>
        <div class="card-footer text-center">
            {% if product.is_in_cart %}
                <button type="button" class="btn btn-outline-danger">Удалить из корзины</button>
            {% else %}
                <button type="button" class="btn btn-outline-success">Отправить в корзину</button>
            {% endif %}
        </div>
    </div>
</div>